.header {
    display: flex;
    background-color: rgb(50, 167, 145);
  }
  
  .trybewarts-login {
    display: flex;
    flex-direction: column;
  }
  
  .trybewarts-login input {
    width: 55%;
  }
  
  main {
    display: flex;
  }
  
  #evaluation-form {
    display: flex;
    flex-direction: column;
    width: 675px;
  }
  
  #trybewarts-forms-logo {
    height: 500px;
  }
  
  .name-lastname {
    display: flex;
  }
  
  .email-house {
    display: flex;
  }
  
  .radio-buttons {
    display: flex;
  }
  
  .agreement {
    display: flex;
  }

  footer {
    margin-top: 10%;
  }
t